@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}
.btn-primary{
    @apply btn bg-gradient-to-r from-indigo-400 to-purple-500   border-0 normal-case rounded-md  font-semibold tracking-wider
  }

body{
  font-family: 'Manrope', sans-serif;
}


.container{
  @apply mx-auto my-0 w-11/12 lg:w-10/12
}


.hero-line-height{
  line-height: 75px;
}

.btn-custom{
  @apply py-2 px-3 border border-indigo-600 rounded font-semibold text-indigo-500 text-sm
}